<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_QuanCafeConnectionString"
            connectionString="Data Source=MMT-LEVANTHONG\SQLEXPRESS;Initial Catalog=QL_QuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QL_QuanCafeUpdateConnectionString"
            connectionString="Data Source=MMT-LEVANTHONG\SQLEXPRESS;Initial Catalog=QL_QuanCafeUpdate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>